services:
  dynamodb:
    image: amazon/dynamodb-local
    command: [ "-jar", "DynamoDBLocal.jar", "-sharedDb", "-dbPath", "." ]
    ports:
      - 8000:8000
    volumes:
      - dynamodata:/home/dynamodblocal

volumes:
  dynamodata:
