name: Deploy Production

on:
  push:
    branches: [release]

concurrency:
  group: deploy-production
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: production
    steps:
      - uses: actions/checkout@v6
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: yarn install --immutable

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_PRODUCTION }}

      - run: yarn deploy --stage production --print-logs
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
