name: Test & Deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    name: Run tests & deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Enable corepack
      run: corepack enable

    - name: Setup NodeJS
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Start dynamodb container
      run: |
        docker compose up -d dynamodb

    - name: Install dependencies
      run: |
        yarn install --immutable

    - name: Initialise database for testing
      run: yarn initdb
      env:
        DYNAMODB_ENDPOINT: http://localhost:8000

    - name: Run app unit tests
      run: yarn test run

    - name: Initialise terraform
      run: cd deploy && ./tf.sh init
      env:
        CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Deploy app
      run: cd deploy && ./deploy-app.sh
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_EC2_METADATA_DISABLED: true

    - name: Deploy Terraform IAC
      run: |
        cd deploy
        ./tf.sh apply -auto-approve
      env:
        CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Lint codebase
      run: |
        yarn lint
        cd infra && ../deploy/tf.sh fmt -check
